#visit-message {
    background: #eef5ff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid #003366;
}

#discover-cards {
    display: grid;
    gap: 1rem;
}


#discover-cards article:nth-child(1) {
    grid-area: one;
}

#discover-cards article:nth-child(2) {
    grid-area: two;
}

#discover-cards article:nth-child(3) {
    grid-area: three;
}

#discover-cards article:nth-child(4) {
    grid-area: four;
}

#discover-cards article:nth-child(5) {
    grid-area: five;
}

#discover-cards article:nth-child(6) {
    grid-area: six;
}

#discover-cards article:nth-child(7) {
    grid-area: seven;
}

#discover-cards article:nth-child(8) {
    grid-area: eight;
}

#discover-cards {
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight";
}

article {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 10px;
}

article img {
    width: 100%;
    height: auto;
}


@media (min-width: 641px) {

    #discover-cards {

        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "one two"
            "three four"
            "five six"
            "seven eight";
    }

    article img:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }
}


@media (min-width: 1025px) {

    #discover-cards {

        grid-template-columns: 1fr 1fr 1fr;

        grid-template-areas:
            "one one two"
            "three four five"
            "six seven eight";
    }
}