@media (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 1rem;
    }

    .grid-view {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 768px) {

    .home-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero-text h1 {
        font-size: 3rem;
    }
}