@media (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .grid-view {
        grid-template-columns: repeat(3, 1fr);
    }
}